# **TITANIC SURVIVOR** **ANALYSIS**

## **READING DATA USING PANDAS**

We use pandas *read_csv* function to read the csv file in the python and pandas *DataFrame* method to convert file into the data frame.

## **HANDLING NULL VALUES**

The dataset may contain many rows and columns for which some values are missing, we can't leave those missing values as it is. In such cases we have two options:


1.   Either drop the entire row or column.
2.   Fill the missing values with some appropriate value let's say mean of all the values for that column may do the job.

**Separating out the columns which have more than 35% of the values missing in the dataset**

**NOTE**: There is no specific number after which you should drop the column. It's just that we decided that on our own according to what we want.

Because **Embarked** contain string values, we see the details of that column separately from others as strings does not have mean and all.

For Embarked attribute, we fill the NULL values with the frequent value in the column

**sibsp**: Number of Siblings/Spouses Abroad

**parch**: Number of Parents/Children Abroad

So we can make a new column family_size by combining these two columns

**FamilySize in the ship does not have much correlance with survival rate**

Let's check if we weather the person was alone or not can affect the survival rate.

If the person is alone he/she has less chance of surviving.

> The reason might be the person who is travelling with his family might be belonging to rich class and might be prioritized over other.

So we can see if the person was not alone, the chance the ticket price is higher is high.

It shows, female passengers have more chance of surviving than male ones.

It shows women were prioritized over men.

## **CONCLUSION**

*   Female passengers were prioritized over men.
*   People with high class or rich people have higher survival rate than others. The hierarchy might have been followed while saving the passengers.
*   Passengers travelling with their family have higher survival rate.
*   Passengers who boarded the ship at Cherbourg, survived more in proportion than the others.